<div class="list-group">
    <a class="list-group-item list-group-action" href="{% url 'dataset' %}">Let's Check Our Dataset!</a>
    <a class="list-group-item list-group-action" href="{% url 'correlation' %}">Correlation</a>
    <a class="list-group-item list-group-action" href="{% url 'home' %}">Where Was The Most Earthquake?</a>
    <a class="list-group-item list-group-action" href="{% url 'countries' %}">Which country-area was the most earthquake?</a>
    <a class="list-group-item list-group-action" href="{% url 'years' %}">Which year had the most earthquakes in Turkey?</a>
    <a class="list-group-item list-group-action" href="{% url 'biggest' %}">Biggest Earthquake in Turkey!</a>
    
</div>