{% extends "base.html" %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block title %} Cities {% endblock %}

{% block content %}

<div class="container mt-3">
    <div class="row">
        <div class="col-3">
            {% include 'partials/_categories.html' %}
        </div>
        <div class="col-9">
            <h1>The Biggest Earthquake in Turkey!</h1>
            <hr>
            {{ data6 | safe }}

            {% for blog in blogs %}
                {% if blog.is_home %}
                    {% include 'partials/_blog.html' %}
                {% endif %}
            {% endfor %}
            
        </div>
    </div>
</div>
<body>
    
</body>


{% endblock %}
